body{background:#efefef;font-size:14px;line-height:140%;-webkit-text-size-adjust:none;width:100%;height:100%;font-family: arial, 'Microsoft Yahei', 'å¾®è½¯é›…é»‘','é»‘ä½“', 'å®‹ä½“', Tahoma, Arial, Helvetica, STHeiti;}
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:400;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
q:after,q:before{content:â€}
abbr,acronym{border:0}
a{cursor: pointer;color:#666;text-decoration:none;}
a:hover{color:#19aa8d;}
ul,ol,dl{list-style:none;}
::input-placeholder{color:#ddd;font-size:1em;font-weight:bold;}
input,textarea,select,button{outline:none;font-family:inherit;font-size:inherit;line-height:inherit;}
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset !important;}
img{vertical-align:bottom;}

.btn,.btn_m,.btn_1{border: 1px solid #ccc; color: #333; outline: none; white-space: nowrap; border-radius: 3px; background-color: transparent; padding:0 10px; line-height: 28px; font-size: 12px;cursor: pointer;width: auto;text-align: center;display:inline-block;}
.btn i,.btn_m i{float:left;}
.btn:hover,.btn_m:hover,.btn_1:hover{background: #f8f8f8;}
.btn-primary{color:#fff !important; border-color: #19aa8d; background-color: #19aa8d;}
.btn-primary:hover{color:#fff; border-color: #19aa8d; background-color: #19aa8d;}
.btn-default{color:#333; border-color: #ddd; background-color: #fff;}
.btn-default:hover{color:#333; border-color: #ccc; background-color: #f8f8f8;}
.btn-white{color:#000; background-color: #fff; border-color: #fff;}
.btn-white:hover{color:#000; background-color: #fff; border-color: #fff;}
.btn-gray{color:rgb(122, 118, 118); background-color: rgb(220,220,220); border-color:rgb(220,220,220)}
.btn-gray:hover{color:rgb(122, 118, 118); background-color: rgb(220,220,220); border-color:rgb(220,220,220)}
.btn-info{background: #78c6b0; border-color:#78c6b0; color: #fff;}
.btn-info:hover{background: #78c6b0; border-color:#78c6b0; color: #fff;}
.btn-line-primary{color:#19aa8d; border-color: #19aa8d; background-color: #fff;}
.btn-line-primary:hover{color:#fff; border-color: #19aa8d; background-color: #19aa8d;}
.btn.disabled{background: #eee !important; border:1px solid #ccc !important; color: #999 !important;}
.h30{width:100%;height:30px;}
.h20{width:100%;height:20px;}
.h10{width:100%;height:10px;}
.h60{width:100%;height:60px;}
.h14{width:100%;height:14px;}
.h5{width:100%;height:5px;}
.h144{width:100%;height:144px;}
.h200{max-height:280px;overflow-y:auto; }
.clear{clear:both;}
h1,h2,h3,h4,strong{font-weight:100;}
.cont{width:100%;margin:0 auto;position:relative;}
.top40{margin-top:40px;}
.t20{margin-top:20px;}
.t10{margin-top:10px;}
.l20{margin-left:20px;}
.l10{margin-left:10px;}
.b10{margin-bottom:10px;}
.p10{padding:10px;}
.p20{padding:20px;}
.pt100{padding:100px 0;}
.ct{text-align: center;}

.icon14_common,.icon16_common,.icon18_common,.icon20_common,.icon24_common,.icon26_common,.icon36_common,.icon38_common,.icon48_common,.icon114_common,.select_class .select_list input,.class_search input,.phone_hd{background: url(../images/base_icon.png) no-repeat;}
.icon16_common{width: 16px;height: 16px;vertical-align: middle;display: inline-block;overflow: hidden;}
.icon16_common.icon_checkbox{background-position: 0 -286px;margin-top: -0.3em;margin:0 5px 0 0;}
.icon16_common.icon_radio{background-position: 0 -182px;margin-top: -0.3em;}
.icon16_common.icon_closed{background-position: 0 -1573px;}
.icon16_common.icon_search{background-position: 0 -1761px;}
.icon_closed:hover{background-position: 0 -1599px}
.selected .icon16_common.icon_checkbox{background-position: 0 -312px;}
.selected .icon16_common.icon_radio{background-position: 0 -208px;}
.noneall .icon16_common.icon_checkbox{background-position: 0 -388px;}

.btn_switch .switch{display:none}
.btn_switch{width:50px;display: block;margin:0 auto;}
.btn_switch label,.subwrap_mk_2 .formbox .btn_switch label{position:relative;display:block;padding:1px;height:22px;border-radius:24px;background-color:#eee;vertical-align:top;cursor:pointer;-webkit-user-select:none;width:auto;top:auto;left:auto;}
.btn_switch label:before{display:block;height:22px;border-radius:24px;background-color:#fff;content:'';-webkit-transition:all .3s ease;-webkit-transform:scale(1,1)}
.btn_switch label:after{position:absolute;top:50%;left:50%;margin-top:-11px;margin-left:-16px;width:22px;height:22px;border-radius:22px;background-color:#fff;box-shadow:1px 1px 1px 1px rgba(0,0,0,.08);content:'';-webkit-transition:all .3s ease;-webkit-transform:translateX(-9px)}
.btn_switch .switch:checked~label:after{-webkit-transform:translateX(18px)}
.btn_switch .switch:checked~label:before{background-color:#19aa8d}

/*åˆ†é¡µ*/
.subwrap_mk_1 .listpage{display:block;text-align:center;padding:10px 0;margin: 10px 0;float:left;width:100%;}
.subwrap_mk_1 .listpage a,.subwrap_mk_1 .listpage .more{padding:0px 10px;background:#fff;border:1px solid #ddd;color:#333;display:inline-block;float:left;margin:0 3px;}
.subwrap_mk_1 .listpage a.last{margin-right:10px;}
.subwrap_mk_1 .listpage a:hover,.subwrap_mk_1 .listpage a.hover{background:#19aa8d;color:#fff;border-color:#19aa8d;}
.subwrap_mk_1 .listpage span{float: left;padding-top:10px;}
.subwrap_mk_1 .listpage .more{border:none;line-height:30px;}
.subwrap_mk_1 .listpage input{border:1px solid #ddd;padding:6px 10px;width:20px;display:inline-block;float: left;}

/*ç™»å½•*/
.pageCpLogin{background:#444;background-size: cover;width: 100%;height: 100%;color: #4F5A61;}
.pageCpLogin .panelCont{width: 750px;height: 410px;background: #fff;border-radius: 5px;position: absolute;left: 50%;top: 50%;margin: -210px 0 0 -375px; overflow:hidden;z-index:1}
.pageCpLogin .panelCont .leftPanel{width: 319px; border-right: 1px solid #ddd; height: 100%;float: left;background: #fff;color: #fff;}
.pageCpLogin .panelCont .rightPanel{width: 430px;height: 100%;float: left;}
.pageCpLogin .panelCont .leftPanel .inner{position: relative;margin: 70px 40px 0;height: 290px;text-align:center;}
.pageCpLogin .panelCont .leftPanel .CpLogo{width: 160px;}
.pageCpLogin .panelCont .leftPanel .btm{position: absolute;bottom: 0; color: #666;text-align: left;}
.pageCpLogin .panelCont .leftPanel .btm p{padding-top: 10px;}
.pageCpLogin .userForm{margin: 60px 35px 0;}
.pageCpLogin .userForm .loginheader{font-size: 24px;font-weight: 500;color: #333; margin-bottom: 40px;}
.pageCpLogin .formRow{position: relative;padding-left: 30px;border-bottom: 1px #DBE0E3 solid;margin-bottom: 10px;}
.userForm .form-control{font-family: Lato,'PingFang SC',"Hiragino Sans GB","Microsoft YaHei";color: #3c3c3c;font-size: 16px;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;resize: none; background: #fff;padding: 12px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;transition: all .2s;display: block;width: 100%;border:none;}
.userForm .form-control.verify{width:50%;display: inline-block;}
.pageCpLogin .formRow .iconfont{position: absolute;left: 0;bottom: 0;display: block;width: 40px;font-size: 22px;height: 45px;line-height: 45px;font-size:24px;}
.pageCpLogin .formRow img{height:46px;display: inline-block;}
.userForm .forgetPw{text-align: right;font-size: 12px;font-style: italic;}
.pageCpLogin .btnWrap{text-align: center;margin-top: 20px;padding: 20px 0 10px;position: relative;}
.btnWrap .btn{font-size: 18px;padding: 10px 60px; border-radius: 3px;}
.table-bordered.only-table{margin-top: 20px;}


.bar{width:100%;min-width:1200px;height:60px;background:#263548;position:fixed;top:0;z-index:2;box-shadow: 0 1px 2px rgba(47,47,47,.5);}
.bar .logo{padding:0 30px;float:left;height:60px;font-size:20px;line-height:60px;color:#19aa8d;}
.bar .logo img{height:60px;}
.bar .menu{float:left;display:block;height:60px;line-height:60px;text-align:center;position:relative;}
.bar .menu a{display:inline-block;padding:0 20px;color:#fff;font-size:14px;}
.bar .menu a:hover,.bar .menu a.current{background:#1a2634;color:#fff;}
.bar .account{float:right;display:block;height:60px;padding:0 14px;line-height:60px;text-align:center;}
.bar .account .name{display:inline-block;color:#19aa8d;}
.bar .account a{color:#19aa8d;padding: 0 5px;font-size:14px;display: inline-block;}
.bar .account .name a{color:#cdc11e;text-decoration:underline;}
.bar .account .name a i{float:left;font-size:20px;}


.bar .menu a.last{font-size:14px;position:relative;padding-right:25px;line-height:58px;}
.bar .menu a.last:hover,.bar .menu a.last.current{background-color:#1a2634;}
.bar .menu a.last span{display:block;width:30px;height:30px;position:absolute;right:0;top:15px;background:url(../images/tag.png);}
.bar .menu a.last.current span{background-color:none;background-image:url(../images/tag_1.png);}
.bar .menu .othermenu{position:absolute;top:59px;left:0;min-width:140px;background:#1a2634;padding:0 0 10px 0;display:none;}
.bar .menu .othermenu a{display:block;font-size:14px;line-height:30px;text-align:left;padding:2px 20px;color:#ddd;}
.bar .menu .othermenu a:hover{background:rgba(255,255,255,.1);color:#fff;}
.bar .msg {display: inline-block;float: right;position: relative;padding:0 10px;}
.bar .msg .icon i{color:#cdc11e;font-size:24px;line-height:60px;}
.bar .msg .icon span{position: absolute;top:10px;left:50%;padding:0 6px;border-radius:50%;background:#19aa8d;color:#fff;display: inline-block;}
.msglist{width:300px;position: absolute;right:0;top:90%;margin:0 0 0 0;padding:10px;background:#fff;box-shadow:0 0 10px #ddd;display:none;}
.msglist a{display:block;line-height:28px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#666;padding-right:100px;position: relative;margin:5px auto;}
.msglist a span{display:inline-block;font-size:12px;position: absolute;right:0;line-height:28px;padding:0 5px;}
.msglist a .stips{float: left;padding:0 5px;line-height:28px;background:#efefef;color:#19aa8d;display: inline-block;margin-right:5px;border-radius:4px;-webkit-border-radius:4px;font-size:12px;}
.msglist a .stips.unread{color:#cd4c1e;}
.msglist a.last{text-align: center;padding:5px 0;font-size:12px;background:#f2f2f2;}
.bar .msg:hover .msglist{display: block;}
.lastmenu{display:inline-block;position:relative;}

.container{width:100%;position:fixed;top:60px;bottom:0;}
.container .cont{width:auto;padding-left:180px;}
.container .left{width:180px;position:fixed;left:0;top:60px;bottom:0;background:#263548;overflow-y: auto;z-index:1;}
.container .left .up{display:block;padding:5px 0;text-align: center;border-top:1px solid #1c2a3c}
.container .left .up span{display:inline-block;width:12px;height:10px;background:url(../images/up.png) no-repeat;}
.container.up .left .up span{background-position:0 -10px;}
.class{padding:0 0 0 0;border-top:1px solid #1c2a3c;line-height:30px;color:#fff;}
.class .ul{display: none;background:#1c2a3c;padding:5px 0;}
.class .title{font-size:14px;padding:10px 0 10px 30px;cursor:pointer;position: relative;}
.class .title span a{color:#fff;}
.class .title img{margin:0 10px 0 15px;}
.class .li a{display:block;color:#fff;font-size:12px;padding-left:30px;line-height:35px;position:relative;border-left:2px solid #263548;}
.class .li a span,.class .title .tag{display:block;width:30px;height:30px;position:absolute;right:0;top:3px;background:url(../images/tag.png);}
.class .title .tag{left:0;top:10px;right:auto;}
.class .li a:hover,.class .li.show a{background:#1a2634;border-left:2px solid #19aa8d;}
.class .li.show a span{background:url(../images/tag_1.png);}
.class .li.show .subli{display:block;}
.class .li .subli{display:none;}
.class .li .subli a{font-size:12px;color:#f2f2f2;}
.class .li .subli a:hover{background: #ddd;color:#1a2634;border-color:#ddd;}
.class .li.show .subli a,.class .li.show .subli a:hover{border-left:2px solid #263548;}
.container.up .left{width:40px;}
.container.up .cont{padding-left:40px;}
.container.up .class .li,.container.up .class .title span,.container.up .class .title .tag{display:none;}
.container .center{width:100%;overflow:auto;}
.container .tips{padding:5px 10px 10px 10px;display:none;background:#fff;border-bottom:1px solid #dedede;overflow:hidden;position:absolute;right:0;left:220px;z-index:1;box-shadow: 0 0 5px rgba(0,0,0,.1);}
.container.up .tips{left:40px;}
.container .tips .li{display:inline-block;padding:0 15px 0 0;line-height:20px;height:30px;float:left;margin:5px 8px 0 8px;border-radius:2px;background:#fff;cursor:pointer;position:relative;border: 1px solid #ddd;}
.container .tips .li span{display:block;padding:5px 5px 5px 20px;height:20px;}
.container .tips .li:first-child{padding:0;}
.container .tips .li:first-child span{padding:5px 20px;}
.container .tips .li a{display:none;}
.container .tips .li.current,.container .tips .li:hover{background:#19aa8d;color:#fff;border: 1px solid #19aa8d;}
.container .tips .li.current a,.container .tips .li:hover a{width:10px;height:10px;background:url(../images/close.png) no-repeat;float:right;margin:5px 0 0 5px;display:block;position:absolute;right:5px;top:5px;}

.container.pd0 .cont{padding-left:0;}
.container.pd0 .left{display:none;}

.primary{margin:20px 0 0 20px;display:none;overflow:auto;min-width:980px;}
.primary.m20{margin:20px 20px 0 20px;}
.primary .wrap_mk{border-radius:2px;width:40%;background:#fff;float:left;box-shadow: 0 0 5px rgba(0,0,0,.1);}
.primary .wrap_mk.h230{height:230px;}
.primary .wrap_mk h1{padding:10px;display:block;border-bottom:1px solid  #dedede;color:#333;font-weight:bold;}
.primary .wrap_mk h1 a{display:inline-block;float:right;font-size:12px;}
.primary .wrap_mk h1 .last{display:inline-block;float:right;font-size:12px;color:#19aa8d;}
.primary .wrap_mk .tool{padding: 5px 10px 10px 10px;/* border-bottom:1px solid #ddd; */}
.primary .wrap_mk .tool::after{content:'';display:block;clear:both;}
.primary .wrap_mk .tool .search{margin-top:-10px;}
.primary .subwrap_mk{padding:34px 10px;text-align:center;overflow-y:hidden;position:relative;}
.primary .subwrap_mk a{display:inline-block;padding:0;width:33.3%;float:left;text-align:center;}
.primary .subwrap_mk a p{line-height:40px;}
.primary .subwrap_mk.last a{width:25%;color:#404040;}
.primary .subwrap_mk.last a span{padding:10px;display:inline-block;font-size:30px;color:#f2600d}
.primary .subwrap_mk.last a i{font-size:24px;display: none;}
.primary .subwrap_mk.last a p{font-size:12px;color:#999;}
.primary .subwrap_mk.last a:hover p{color:#f2600d}
.primary .subwrap_mk.last_1 a{width:20%;color:#404040;position:relative;}
.primary .subwrap_mk a div{width:154px;height:24px;padding:24px 0 106px 0;color:#fff;margin:0 auto;position:absolute;top:0;left:50%;margin-left:-77px;}
.primary .subwrap_mk a div.subimg_3{color:#333}
.primary .subwrap_mk.last_1 a img{width:150px;}
.btn_icon{padding: 5px;display: inline-block !important;}
.btn_icon i{font-size:24px;}
.btn_icon.gree i{color:#19aa8d}
.btn_icon.red i{color:#f2600d;}
.btn_1{padding:0 10px;display: inline-block !important;color:#fff !important;border:none;}
.btn_1.gree{background:#19aa8d}
.btn_1.red{background:#f2600d;}
.btn_1.blue{background:#0b5ec4;}
/*é¢åŒ…å±‘*/
.crumbs{/* width:100%; */margin:0 auto;height:40px;line-height:40px;color:#333;padding: 5px 0 0 10px;}
.crumbs a{display:inline-block;}
.crumbs a:link{color:#666}
/*æœç´¢*/
.search{float:right;width:200px;height:30px;margin: -5px 0 0 0;padding: 5px 50px 5px 0;border:1px solid #ddd;position:relative;background: #;}
.search input{width: 180px;border:none;box-shadow:none;padding: 5px 10px;height:20px;line-height:20px;}
.search a{width:50px;height: 40px;padding:0;color: #666;text-align:center;line-height: 40px;display:block;position:absolute;top:-1px;right:-1px;z-index:1;border:1px solid #ddd;background:#fafafa;}
.search a i{font-size:2rem;font-weight:bold;}
.search a:hover{background:#19aa8d;color:#fff;border-color:#19aa8d;}

.primary .wrap_mk.wb20{width:28%;margin-left:2%;position: relative;left: -2px;}
.primary .wrap_mk.m20{margin-top:20px;}

.subwrap_mk_1{padding:10px 20px;overflow-x:auto;}
.subwrap_mk_1 a{display:block;line-height:28px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#666;padding-right:100px;position: relative;margin:5px auto;}
.subwrap_mk_1 a span{display:inline-block;font-size:12px;position: absolute;right:0;line-height:28px;padding:0 5px;}
.subwrap_mk_1 a .stips{float: left;padding:0 5px;line-height:28px;background:#efefef;color:#19aa8d;display: inline-block;margin-right:5px;border-radius:4px;-webkit-border-radius:4px;font-size:12px;}
.subwrap_mk_1 a .stips.unread{color:#cd4c1e;}

.primary_r{width:28%;float:right;margin-right:3px;}
.primary_r.wb220{width:13%;float:right;margin-right:3px;}
.primary_top{border-radius:2px;background:#19aa8d;color:#fff;overflow:hidden;padding:20px 0;border:1px solid #19aa8d;width:100%;}
.primary_top a{display:block;width:33.3%;float:left;text-align:center;color:#fff;position:relative;}
.primary_top a span{width:20px;height:20px;border-radius:50%;background:#ed6c44;color:#fff;position:absolute;top:0;right:30px;font-size:12px;line-height:20px;}

.primary_r.wb220 .primary_top a{width:100%;margin:19px 0;}
.primary_r.wb220 .primary_top a span{right:auto;margin-left:30px;}

.primary_r .wrap_mk{width:100%;margin-top:20px;}
.primary_r .wrap_mk span{width:auto;height:auto;display:inline-block;background:none;margin:0;}
.primary_r .wrap_mk span.warning{color:#ed6c44;}
.primary_r .wrap_mk a.more{text-align:center;padding:10px 0;color:#b3b3b3;}

.primary .wrap_mk.wball{width:100%;}
.primary .wrap_mk.wb100{width:70%;margin-top:20px;}
.primary .wrap_mk.wb80{width:85%;}
.primary .wrap_mk.wb49{width:49%;}
.primary .wrap_mk.wbqb{width:99.7%;margin-top:20px;margin-right: 3px;float:right;box-sizing:border-box;}
.primary .wrap_mk.wball .icon-dynamic{display: inline-block;position: relative;top:7px;font-size:30px;}
.primary .subwrap_mk_1{padding:10px;}
.primary .subwrap_mk_1 table{width:100%;margin:10px 0;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.primary .subwrap_mk_1 table td,.primary .subwrap_mk_1 table th{padding:10px;text-align:center;color:#333;font-weight:bold;border-left:1px solid #ddd;border-top:1px solid #ddd;font-size:14px;}
.primary .subwrap_mk_1 table td div.w300{width:300px;display: block;word-wrap:break-word;}
.primary .subwrap_mk_1 table td{color:#333;font-weight:400;font-size:12px}
.primary .subwrap_mk_1 table td.fcred{color:red;}
.primary .subwrap_mk_1 table th{background:#fafafa;}
.primary .subwrap_mk_1 table tr:hover{background:#fafafa;}
.primary .subwrap_mk_1 table td .btn{padding:5px 10px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;display:block;background:#19aa8d;color:#fff;}
.primary .subwrap_mk_1 table .btn_m{display:inline-block;}
.primary .subwrap_mk_1 table a{color:#2f70ae;padding-right:10px;}

.primary .subwrap_mk_2 table{width:100%;margin:10px 0;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.primary .subwrap_mk_2 table td,.primary .subwrap_mk_2 table th{padding:10px;text-align:center;color:#333;font-weight:bold;border-left:1px solid #ddd;border-top:1px solid #ddd;font-size:14px;}
.primary .subwrap_mk_2 table td div.w300{width:300px;display: block;word-wrap:break-word;}
.primary .subwrap_mk_2 table td{color:#333;font-weight:400;font-size:12px}
.primary .subwrap_mk_2 table td.fcred{color:red;}
.primary .subwrap_mk_2 table th{background:#fafafa;}
.primary .subwrap_mk_2 table tr:hover{background:#fafafa;}
.primary .subwrap_mk_2 table td .btn{padding:5px 10px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;display:block;background:#19aa8d;color:#fff;}
.primary .subwrap_mk_2 table .btn_m{display:inline-block;}
.primary .subwrap_mk_2 table a{color:#2f70ae;padding-right:10px;}
.subwrap_mk_2 .table{display: block;width:100%;height:200px;overflow-y: auto;}

.popup{position:fixed;top:100px;left:50%;z-index:12;width:600px;margin-left:-300px;background:#fff;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;display:none;}
.popup .popup_cont{position:relative;display:block;}
.popup .popup_cont .title{padding:10px 15px;color:#333;border-bottom:1px solid #ccc;font-size:16px;}
.popup .popup_cont .close{position:absolute;top:0px;right:0px;width:40px;height:40px;text-align:center;line-height:43px;background:url(../images/close.jpg) no-repeat center;background-size:16px;}
.popup .section{padding:10px 15px;color:#888;overflow:hidden;}
.popup .section a{display:block;padding: 19px;width:102px;float:left;text-align:center;color:#888;border:1px solid #fff;position:relative;}
.popup .section a img{width:100%;}
.popup .section a input[type=radio]{margin-right:3px;display:none;}
.popup .section a:hover{border-color:#ccc;}
.popup .section a.down{border-color:#19aa8d;}
.popup .section strong{display:block;font-size:16px;line-height:24px;width:100%;float:left;color:#333;padding:5px 0;}
.input_checkbox{display:inline-block;padding:5px 0;float:left;width:33.3%;}
.input_checkbox input{margin-right:5px;}
.popup .btn{padding:10px 15px;text-align:center;overflow:hidden;border-top:1px solid #ccc;}
.popup .btn a{width:110px;display:inline-block;background:#fff;border:1px solid #ccc;color:#888;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;line-height:40px;text-align:center;box-sizing: border-box;}
.popup .btn a.submit{background:#19aa8d;color:#fff;border:1px solid #19aa8d; width:50%;}
.popup .btn a.cancel{border:1px solid #ccc;}
.popup .btn p{display:block;line-height:20px;color:#ec1c24;padding:5px 0;}
.popup_bg{position:fixed;top:0;left:0;right:0;bottom:0;z-index:11;background:rgba(0,0,0,.5);display:none;}

.indextips{padding:87px 20px;background:#19aa8d;color:#fff;margin-bottom:20px;line-height:200%;width:49%;float: left;box-sizing: border-box;margin-right:2%;}
.indextips h1{font-size:20px;}

/*ç¼–è¾‘é¡µé¢*/
.subwrap_mk_2{padding:10px 20px;}
.subwrap_mk_2 .formbox{float:left;padding:5px 0 5px 120px;position: relative;box-sizing: border-box;min-height:58px;}
.subwrap_mk_2 .formbox.noleft{padding:10px 0;}
.subwrap_mk_2 .formbox input[type=text],.subwrap_mk_2 .formbox input[type=number],.subwrap_mk_2 .formbox input[type=password]{padding:10px;border:1px solid #ddd;width:100%;box-sizing: border-box;}
.subwrap_mk_2 .formbox input[type=text].wauto,.subwrap_mk_2 .formbox input[type=number].wauto{width:auto;}
.subwrap_mk_2 .formbox textarea{padding:10px;border:1px solid #ddd;width:100%;min-height:120px;box-sizing: border-box;}
.subwrap_mk_2 .formbox label{padding:10px 20px 10px 10px;width:100px;text-align: right;display: inline-block;position: absolute;top:5px;left:0;color:#999;}
.subwrap_mk_2 .formbox select{background-color:#FFF;background-image:none;border:1px solid #e5e6e7;border-radius:1px;color:inherit;display:block;padding:0 10px;-webkit-transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%;font-size:14px;height:41px;border-radius:0;-webkit-border-radius:0;}
.subwrap_mk_2 .formbox select:focus{border-color:#1ab394}
.subwrap_mk_2 .formbox span{line-height:38px;font-size:16px;color:#333}
.subwrap_mk_2 .formbox p{display: block;color:#999}
.subwrap_mk_2 .formbox select.min{display:inline-block;width:25%;float:left;margin-right:10px;}
.subwrap_mk_2 .formbox .text{padding:10px;}
.subwrap_mk_2 .formbox_jurisdiction{padding:10px;position: relative;box-sizing: border-box;}
.subwrap_mk_2 .formbox_jurisdiction .li{border:none;padding:10px 0;line-height:200%;color:#666;}
.subwrap_mk_2 .formbox_jurisdiction .li h1{border:none;padding:10px 0;color:#19aa8d;font-size:20px;}
.subwrap_mk_2 .formbox_jurisdiction .li input[type=text]{margin:0 5px;}

.subwrap_mk_2 .formbox .icon_state{padding:10px 0;}
.subwrap_mk_2 .formbox.center{padding:10px 0;}
.subwrap_mk_2 .formbox table{width:100%;}
.subwrap_mk_2 .formbox table th{padding:10px;border-bottom:1px solid #ddd;border-top:1px solid #ddd;background:#fafafa;text-align: center;}
.subwrap_mk_2 .formbox table td{padding:10px;color:#666;text-align: center;}
.subwrap_mk_2 .formbox table td a{color:#19aa8d;}
.subwrap_mk_2 .w30{width:33.3%}
.subwrap_mk_2 .w50{width:50%;}
.subwrap_mk_2 .w70{width:66.6%;}
.subwrap_mk_2 .w100{width:100%;}
.primary .wrap_mk .subwrap_mk_2 h1{display: block;border:none;float: left;padding:10px;width:100%;margin:0 0 5px 0;background:#fafafa;box-sizing: border-box;border-left:4px solid #19aa8d;position: relative;}
.primary .wrap_mk .subwrap_mk_2 h1:first-child{margin-top:10px;}
.primary .wrap_mk .subwrap_mk_2 h1 div{display:inline-block;font-weight:500;cursor: pointer;background:#19aa8d;color:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:2px 8px;position: absolute;right:10px;}
.footerbtn{padding:20px;background:#fff;display:block;margin-top:1px;}
.footerbtn button,.footerbtn a{margin:0 10px 0 0;padding:3px 30px;line-height:30px;}

.subwrap_mk_2 .formbox .uploadbtn{padding:10px 0;background:#fff;display:block;overflow: hidden;}
.subwrap_mk_2 .formbox .uploadbtn button,.choose-file-btn{display:inline-block !important;border:none;background:#19aa8d;color:#fff;cursor: pointer;line-height: 30px;height: 30px;width: 100px;float: left;font-size: 12px;margin-right: 5px;border-radius: 2px;}
.subwrap_mk_2 .formbox .uploadbtn button{line-height:24px;}
.subwrap_mk_2 .formbox .uploadbtn p{display: block;color:#999;line-height:30px;float: left;padding-left:10px;}
.subwrap_mk_2 .formbox .filled{padding:20px 0 0 0;}
.subwrap_mk_2 .formbox ._filelist li .btn_icon.red{background:rgba(255,255,255,.8);top:0;padding:2px;}
.subwrap_mk_2 .formbox ._filelist li .btn_icon.red i{line-height:24px;float:left;}
.subwrap_mk_2 .formbox ._filelist li{width:180px;height:180px;border:1px dashed #ddd;background:#fafafa;position:relative;}
.subwrap_mk_2 .formbox ._filelist li .btn_icon{position:absolute;top:5px;right:0;cursor:pointer;}
.subwrap_mk_2 .formbox.pd0{padding-left:0;}
.subwrap_mk_2 .formbox .radio{padding:0;}
.subwrap_mk_2 .formbox .radio input[type=radio]{margin:0 5px;}
.subwrap_mk_2 .formbox .radio input[type=text]{width:80px;display: inline-block;}
.subwrap_mk_2 .formbox.bg{background:#fafafa;}

.formbox_tips{padding:15px;text-align: left;display: block;position: relative;float: left;color: #8a6d3b;background-color: #fcf8e3;border-color: #faebcc;border: 1px solid transparent;border-radius: 4px;width:100%;box-sizing: border-box;}
/*æŽ’åº*/
.subwrap_mk_1 table th.sorting,
.subwrap_mk_1 table th.sorting_asc,
.subwrap_mk_1 table th.sorting_desc{cursor: pointer;*cursor: hand;padding-right: 20px;}
.subwrap_mk_1 table th.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.subwrap_mk_1 table th.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.subwrap_mk_1 table th.sorting_desc {background: url('../images/sort_desc.png') no-repeat center right;}
.subwrap_mk_1 h1{display: block;border:none;float: left;padding:10px;width:100%;margin:20px 0;background:#fafafa;box-sizing: border-box;border-bottom:none !important;border-left:4px solid #19aa8d}
.subwrap_mk_1 h1:first-child{margin-top:10px;}

.subwrap_mk_2 table th.sorting,
.subwrap_mk_2 table th.sorting_asc,
.subwrap_mk_2 table th.sorting_desc{cursor: pointer;*cursor: hand;padding-right: 20px;}
.subwrap_mk_2 table th.sorting {background: url('../images/sort_both.png') no-repeat center right; }
.subwrap_mk_2 table th.sorting_asc {background: url('../images/sort_asc.png') no-repeat center right; }
.subwrap_mk_2 table th.sorting_desc {background: url('../images/sort_desc.png') no-repeat center right;}
.subwrap_mk_2 h1{display: block;border:none;float: left;padding:10px;width:100%;margin:20px 0;background:#fafafa;box-sizing: border-box;border-bottom:none !important;border-left:4px solid #19aa8d}
.subwrap_mk_2 h1:first-child{margin-top:10px;}

/*çŠ¶æ€*/
.icon_state{display: block; cursor: pointer;}
.icon_state a{width:18px;height:18px;padding:2px;display: inline-block;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background:#ddd;line-height:18px;}
.icon_state a i{color:#fff;font-size:18px;}
.icon_state a.down{background:#19aa8d;}
.icon_state .checkbox{display: inline-block;padding:0 20px 0 0;text-align: left;}
.icon_state .checkbox input{width:auto;margin-right:10px;}


/*åˆ—è¡¨æ—¶é—´æœç´¢*/
.date_search{display: inline-block;padding:0 10px;}
.date_search label{padding-right:5px;}
.date_search input{padding:4px;line-height:20px;border:1px solid #ddd;box-shadow:none;margin:0 5px 0 0;width:98px;}
.date_search .btn_1{padding:1px 15px;}
.date_search .vague{display: inline-block;position: relative;}
.date_search .vague .subbs{display: none;position: absolute;top:29px;background:#fff;border:1px solid #ddd;min-width:106px;box-shadow:0 2px 2px #ddd;max-height:160px;overflow-y:auto;}
.date_search .vague .subbs a{display: block;line-height:30px;padding:0 10px;}
.date_search .vague .subbs a:hover{background:#fafafa;}

.bus_classlist{display: block;padding:0 0 5px 0;}
.bus_classlist .li{width:100%;float: left;overflow: hidden;}
.bus_classlist .li p{display: inline-block;padding:5px 10px;color:#999;padding-right:10px;}
.bus_classlist .li p span{display: inline-block;color:#333;font-size:16px;}
.bus_classlist .li p:nth-child(2){margin-top:5px;}
/*è½®æ’­ä¸Šä¼ å›¾ç‰‡*/

.upload_btn{padding:10px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#19aa8d;color:#fff;position:relative;display:inline-block;}
.upload_btn input[type=file]{position:absolute;top:0;left:0;right:0;bottom:0;opacity: 0;width:100%;}

.subwrap_mk_2 .formbox .citylist{padding: 5px; font-size: 14px;}
.subwrap_mk_2 .formbox .citylist ul{}
.subwrap_mk_2 .formbox .citylist ul li{width: 100%; margin-bottom: 10px;}
.subwrap_mk_2 .formbox .citylist .dcity{display: block;vertical-align: middle; padding-left: 80px; position: relative;}
.subwrap_mk_2 .formbox .citylist .dcity>.ecity{position: absolute; padding-right: 0;}
.subwrap_mk_2 .formbox .ecity{height: 30px; left: 0;min-width: 80px; margin-right: 1px;padding-right: 20px;position: relative; display: inline-block;}
.subwrap_mk_2 .formbox .province-list{display: inline-block; width: 100%;border-left: 1px solid #ddd; padding-left: 20px; box-sizing:border-box;}
.subwrap_mk_2 .formbox .citylist .gareas{border: 1px solid #FFFFFF;display: inline-block; line-height: 20px; margin-right: 3px;padding: 4px 4px 1px;position: relative;white-space: nowrap;}
.subwrap_mk_2 .formbox .citylist .gareas label{padding:0;line-height:20px;width:auto;text-align: left;position: relative;top: auto;left: auto;display:inline-block;}
.subwrap_mk_2 .formbox .citylist .check-num{color: #F60;font-size: 12px;letter-spacing: -1px;padding-right: 1px;line-height:20px;}
.subwrap_mk_2 .formbox .citylist .zt{font-size: 0;line-height: 0;width: 0; cursor: pointer; height: 0;display: inline-block;padding: 0;border: 4px solid;border-color: #333 transparent transparent transparent;}
.subwrap_mk_2 .formbox .citys{background-color: #FFFEC6;border: 1px solid #F7E4A5;display: none;float: right;left: -1px;position: absolute;top: 23px;width: 240px;z-index: 999;white-space: normal;}
.subwrap_mk_2 .formbox .citys .areas{display: inline-block;margin-right: 3px;padding: 4px 0 4px 4px;line-height:14px;}
.subwrap_mk_2 .formbox .citys p{text-align: right; padding: 5px}
.subwrap_mk_2 .formbox .citys p .btn{line-height: 20px; font-size: 12px; padding: 0 10px;}
.subwrap_mk_2 .formbox .showcitys .citys{display: none;}
.subwrap_mk_2 .formbox .showcitys .gareas{-moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #FFFEC6;border-color: #F7E4A5 #F7E4A5 #FFFEC6;border-style: solid;border-width: 1px;z-index: 998;}
.subwrap_mk_2 .formbox .citys .check .iconfont{padding-right: 0;}
.subwrap_mk_2 .formbox .set-box{display: inline-block;}

.subwrap_mk_2 .formbox .codeimg{padding:10px;width: 120px;position:relative;text-align: center;display:inline-block;float:left;}
.subwrap_mk_2 .formbox .codeimg img{width:100%;padding:5px;border:1px solid #ddd;box-sizing:border-box;}
.subwrap_mk_2 .formbox .codeimg input[type=file]{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;opacity:0;width:100%;}
.subwrap_mk_2 .formbox .codeimg_btn{display:inline-block;padding:10px;float:left;}
.subwrap_mk_2 .formbox .codeimg_btn a{line-height:25px;text-align: center;color:#333;margin-bottom:10px;display: block;}

/*ç¼–è¾‘å™¨*/
.subwrap_mk_2 .formbox .edui-combobox .edui-button-label{color:#333;line-height:20px;font-size:12px;}
.subwrap_mk_2 .edui-combobox-menu .edui-combobox-item-label{position:relative;top:auto;left:auto;width:auto;padding:0;}
/*é€‰æ‹©å¤´åƒ*/
.section{padding:10px 15px;color:@fcolor_3;}
.section .select_face{display:block;height:285px;overflow:auto;}
.section .select_face a{display:block;padding:19px;width:102px;float:left;text-align:center;color:@fcolor_2;border:1px solid #fff;position:relative;}
.section .select_face a img{width:100%;}
.section .select_face a input[type=radio]{margin-right:3px;display:none;}
.section .select_face a i{display:none;}
.section .select_face a:hover{border-color:#ddd;}
.section .select_face a.down{border-color:#19aa8d;}
.section .select_face a.down i{display:block;position:absolute;top:5px;right:5px;color:#19aa8d;font-size:2rem;}
.section .btn{padding:10px 15px;text-align:center;overflow:hidden;border:none;border-top:1px solid #ddd;width:100%;box-sizing:border-box;}
.section .btn a,.section .btn input{width:110px;display:inline-block;background:#fff;border:1px solid #ddd;color:#666;border-radius:2px;-webkit-border-radius:2px;line-height:30px;text-align:center;box-sizing:border-box;}
.section .btn .submit{background:#19aa8d;color:#fff;border:1px solid #19aa8d;}
.section .btn .cancel{border:1px solid #ddd;}

.othermenu{display:none;}
.progress{overflow:hidden;margin:0 auto;width:100%;height:20px;border-radius:10px;background-color:#f5f5f5;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.progress-bar{float:left;width:0;height:100%;background-color:#ec1c24;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);color:#fff;text-align:center;font-size:12px;line-height:20px;-webkit-transition:width .6s ease;-o-transition:width .6s ease;transition:width .6s ease}
.progress-bar.red{background-color:#ec1c24}
.progress-bar.yellow{background-color:#ffe600}
.progress-bar.green{background-color:#00cd00}
.progress-bar-striped,.progress-striped .progress-bar{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size:40px 40px;-webkit-background-size:40px 40px}
.progress-bar.active,.progress.active .progress-bar{-webkit-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite}
.progress-bar-success{background-color:#5cb85c}
.progress-striped .progress-bar-success{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
.progress-bar-info{background-color:#5bc0de}
.progress-striped .progress-bar-info{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
.progress-bar-warning{background-color:#f0ad4e}
.progress-striped .progress-bar-warning{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
.progress-bar-danger{background-color:#d9534f}
.progress-striped .progress-bar-danger{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@-o-keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}

/*ç™»å½•æ•ˆæžœ*/
.bg-bubbles{position:absolute;top:0;left:0;z-index:0;width:100%;height:100%}
.bg-bubbles li{position:absolute;bottom:-160px;display:block;width:40px;height:40px;background-color:rgba(255,255,255,.15);list-style:none;-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-animation:square 10s infinite;animation:square 10s infinite;}
.bg-bubbles li:nth-child(1){left:10%}
.bg-bubbles li:nth-child(2){left:20%;width:80px;height:80px;-webkit-animation-delay:2s;animation-delay:2s;-webkit-animation-duration:17s;animation-duration:17s}
.bg-bubbles li:nth-child(3){left:25%;-webkit-animation-delay:4s;animation-delay:4s}
.bg-bubbles li:nth-child(4){left:40%;width:60px;height:60px;background-color:rgba(255,255,255,.25);-webkit-animation-duration:22s;animation-duration:22s}
.bg-bubbles li:nth-child(5){left:70%}
.bg-bubbles li:nth-child(6){left:80%;width:120px;height:120px;background-color:rgba(255,255,255,.2);-webkit-animation-delay:3s;animation-delay:3s}
.bg-bubbles li:nth-child(7){left:32%;width:160px;height:160px;-webkit-animation-delay:7s;animation-delay:7s}
.bg-bubbles li:nth-child(8){left:55%;width:20px;height:20px;-webkit-animation-delay:15s;animation-delay:15s;-webkit-animation-duration:40s;animation-duration:40s}
.bg-bubbles li:nth-child(9){left:25%;width:10px;height:10px;background-color:rgba(255,255,255,.3);-webkit-animation-delay:2s;animation-delay:2s;-webkit-animation-duration:40s;animation-duration:40s}
.bg-bubbles li:nth-child(10){left:90%;width:160px;height:160px;-webkit-animation-delay:11s;animation-delay:11s}
@-webkit-keyframes square{0%{-webkit-transform:translateY(0);transform:translateY(0)}
100%{-webkit-transform:translateY(-700px) rotate(600deg);transform:translateY(-700px) rotate(600deg)}
}
@keyframes square{0%{-webkit-transform:translateY(0);transform:translateY(0)}
100%{-webkit-transform:translateY(-700px) rotate(600deg);transform:translateY(-700px) rotate(600deg)}
}

/*手机列表*/
.m_list_mk{display: block;padding:0;background: #efefef;float: left;width:100%}
.m_list_mk::after{content:'';clear:both;}
.m_list_mk li{padding:10px;margin:10px 0;box-sizing:border-box;background:#fff;line-height:140%;overflow:hidden;box-shadow: 0 0 2px #ddd;}
.m_list_mk li .li{display:block;float:left;color:#999;position: relative;font-size:14px;}
.m_list_mk li .li a{display:inline-block;color:#333;font-size:18px;float:left;}
.m_list_mk li .li em{display:inline-block;float:left;padding: 0 5px;line-height: 24px;position: absolute;top: -10px;right: -10px;background: #f2f2f2;color: #333;}
.m_list_mk li .li.w100{width:100%;}
.m_list_mk li .li.w50{width:50%;}
.m_list_mk li .fotbtn{display:block;border-top: 1px solid #efefef;padding-top:10px;margin-top:10px;float:left;width:100%;}
.m_list_mk li.notdata,.notdata{padding:40px 10px;text-align: center;background:#fff;}
.m_list_mk li .li a.btn_1{font-size:12px;padding:5px 30px;}
.m_list_mk .btn,.m_list_mk .btn_m,.m_list_mk .btn_1{padding:5px 30px;width:46%;display:inline-block;margin:2px 5px;box-sizing: border-box;}

.m_nav{display:none;}
.m_more{display:block;width:100%;text-align: center;line-height:40px;line-height:40px;background:#fff;font-size:20px;color:#333;}
.formbox_pay{display: block;width:100%;float: left;}
.edui-editor-body .edui-body-container p,.edui-editor-body .edui-body-container span{line-height:160%;font-size:14px;}

@media only screen and (min-width: 320px) and (max-width: 720px){
  .container.up .left,.container .left{width:0;display:none;}
  .container.up .cont,.container .cont{padding-left:0;}
  .primary.m20{margin:0;}
  .primary .wrap_mk .tool{padding:10px;}
  .primary .wrap_mk .tool a.btn:nth-child(1),.primary .wrap_mk .tool a.btn:nth-child(2),.crumbs,.pageCpLogin .panelCont .leftPanel .btm{display:none;}
  .primary{min-width:100%;width:100%;padding-bottom:60px;box-sizing: border-box;}
  .bar .logo{padding:0 10px;}
  .primary .subwrap_mk_1,.subwrap_mk_2{padding:0 0 10px 0;overflow-x: auto;}
  .subwrap_mk_1 .listpage{padding:0 10px;box-sizing: border-box;}
  .primary .subwrap_mk_1 table td, .primary .subwrap_mk_1 table th,.subwrap_mk_2 .formbox table th,.subwrap_mk_2 .formbox table td{word-break: keep-all;white-space: nowrap;}
  .primary .subwrap_mk_1 table,.primary .subwrap_mk_1 table td, .primary .subwrap_mk_1 table th{border:none;}
  .primary .subwrap_mk_1 table td{border-bottom:1px solid #efefef;font-size:14px;}
  .subwrap_mk_1 .listpage a, .subwrap_mk_1 .listpage .more{margin:0;box-sizing: border-box;line-height:44px;border:none;font-size:14px;color:#fff;background:#19aa8d;}
  .subwrap_mk_1 .listpage input{margin-top:5px;}
  .subwrap_mk_2 .w30,.subwrap_mk_2 .w50,.subwrap_mk_2 .w70,.subwrap_mk_2 .w100{width:100%;}
  .subwrap_mk_2 .formbox{padding:0 10px;overflow-x:auto;}
  .subwrap_mk_2 .formbox label{position:relative;top:auto;left:auto;display:block;padding:10px 0;width:100%;box-sizing: border-box;text-align: left;}
  .subwrap_mk_2 .formbox span{padding:5px 10px;border:1px solid #efefef;width:100%;box-sizing: border-box;display:block;line-height:200%;min-height:34px;background:#f8f8f8;}
  .subwrap_mk_2 .formbox span.r_fhdate{display: inline-block;border:none;background:none;width:auto;}
  .footerbtn{display:block;overflow: hidden;text-align: center;position: fixed;bottom: 0;left: 0;right: 0;box-shadow: -5px 0 10px #ddd;padding:10px;z-index:2;}
  .footerbtn button, .footerbtn a{margin:0;width:46%;display:inline-block;box-sizing: border-box;}
  .upload_btn{margin-bottom:10px;}
  .bar{min-width:100%;height:auto;}
  .lastmenu{float:left;}
  .bar .menu{height:auto;text-align:left;}
  .bar .menu .othermenu{position:relative;top:auto;left:auto;}
  .pageCpLogin{padding:0px;box-sizing:border-box;background:#fff;height:auto !important}
  .pageCpLogin .panelCont{width:100%;height:auto;position:relative;top:auto;left:auto;margin:0;border-radius:0;}
  .bg-bubbles{display:none;width:100%;}
  .pageCpLogin .panelCont .leftPanel{width:100%;float:none;}
  .pageCpLogin .panelCont .leftPanel .inner{height:auto;margin:40px 0 0 0;}
  .pageCpLogin .panelCont .leftPanel .CpLogo{width:100px;}
  .pageCpLogin .panelCont .rightPanel{width:100%;box-sizing: border-box;}
  .pageCpLogin .userForm{margin:20px;}
  .pageCpLogin .userForm .loginheader{text-align: center}
  .m_nav{display:block;width:60px;height:60px;position: absolute;top:0;right:0;text-align: center; -webkit-transform: rotate(0deg);transform: rotate(0deg)}
  .m_nav i{color:#fff;font-size:26px;line-height:60px;}
  .m_nav.down{ -webkit-transform: rotate(45deg);transform: rotate(45deg)}
  .m_subnav{position:fixed;left:0;right:0;top:60px;bottom:0;background:#000;display:none;overflow-y: auto;}
  .bar .account{display:block;float:none;width:100%;padding:10px 0;box-sizing:content-box;background:rgba(255,255,255,.1);text-align:center;}
  .lastmenu{width:100%;box-sizing: border-box;}
  .bar .menu a{display: block;}
  .bar .menu .othermenu{padding:0;}
  .bar .menu .othermenu a{background:rgba(255,255,255,.1);line-height:40px;text-indent:24px;}
  .primary .wrap_mk .tool a.btn{margin:5px;}
  .primary .wrap_mk .tool .search{margin-top:10px;float:none;display: block;width:calc(100% - 50px);width:-webkit-calc(100% - 50px);}
  .primary .wrap_mk .tool .search input{width:100%;}
  .primary .wrap_mk.wball{/* padding:10px 0; */}
  .btn_icon{padding:10px;}
  .primary .wrap_mk h1,.primary .wrap_mk h1 a{display:none;}
  .primary.pdbt100{padding-bottom:100px;}
  .bar .menu{width:100%;}
  .btn_switch{display: inline-block;margin:10px auto 0 auto;float: right;}

  .bar .cont{padding:0 60px;box-sizing: border-box;}
  .bar .logo{text-align: center;box-sizing: border-box;width:100%;display:block;float:none;}
  .bar .m_return{width:60px;height:60px;position:absolute;top:0;left:0;text-align: center;display: block;}
  .bar .m_return i{line-height:60px;font-size:26px;display: block;color:#fff;}
  .bar.index .cont{padding:0 60px 0 0;}
  .bar.index .logo{text-align: left;}
  .bar.index .m_return{display: none;}
  .date_search{width:100%;display: block;box-sizing: border-box;}
  .date_search .li{display:block;padding:5px 0;}
  .date_search input{margin:0;padding:5px;width:203px;}
  .date_search .btn_1{display: block;width:100%;padding:5px 10px;box-sizing: border-box;}
  .date_search .li select{background-color:#FFF;background-image:none;border:1px solid #e5e6e7;border-radius:1px;color:inherit;display:block;padding:0 10px;-webkit-transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%;font-size:14px;height:41px;border-radius:0;-webkit-border-radius:0;}
  .date_search .li select:focus{border-color:#1ab394}
}

@font-face {font-family: "iconfont";
  src: url('icon/iconfont.eot?t=1498445987385'); /* IE9*/
  src: url('icon/iconfont.eot?t=1498445987385#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('icon/iconfont.woff?t=1498445987385') format('woff'), /* chrome, firefox */
  url('icon/iconfont.ttf?t=1498445987385') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon/iconfont.svg?t=1498445987385#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jifen:before { content: "\e6a4"; }
.icon-peisong2:before { content: "\e6c1"; }
.icon-accessory:before { content: "\e6dd"; }
.icon-activity:before { content: "\e6de"; }
.icon-activity_fill:before { content: "\e6df"; }
.icon-add:before { content: "\e6e0"; }
.icon-addition_fill:before { content: "\e6e1"; }
.icon-addition:before { content: "\e6e2"; }
.icon-addpeople_fill:before { content: "\e6e3"; }
.icon-addpeople:before { content: "\e6e4"; }
.icon-addressbook_fill:before { content: "\e6e5"; }
.icon-addressbook:before { content: "\e6e6"; }
.icon-barrage_fill:before { content: "\e6e7"; }
.icon-barrage:before { content: "\e6e8"; }
.icon-browse_fill:before { content: "\e6e9"; }
.icon-browse:before { content: "\e6ea"; }
.icon-brush:before { content: "\e6eb"; }
.icon-brush_fill:before { content: "\e6ec"; }
.icon-businesscard_fill:before { content: "\e6ed"; }
.icon-businesscard:before { content: "\e6ee"; }
.icon-camera_fill:before { content: "\e6ef"; }
.icon-camera:before { content: "\e6f0"; }
.icon-clock_fill:before { content: "\e6f1"; }
.icon-clock:before { content: "\e6f2"; }
.icon-close:before { content: "\e6f3"; }
.icon-collection_fill:before { content: "\e6f4"; }
.icon-collection:before { content: "\e6f5"; }
.icon-computer_fill:before { content: "\e6f6"; }
.icon-computer:before { content: "\e6f7"; }
.icon-coordinates_fill:before { content: "\e6f8"; }
.icon-coordinates:before { content: "\e6f9"; }
.icon-coupons_fill:before { content: "\e6fa"; }
.icon-coupons:before { content: "\e6fb"; }
.icon-createtask_fill:before { content: "\e6fc"; }
.icon-createtask:before { content: "\e6fd"; }
.icon-customerservice_fill:before { content: "\e6fe"; }
.icon-customerservice:before { content: "\e6ff"; }
.icon-delete_fill:before { content: "\e700"; }
.icon-delete:before { content: "\e701"; }
.icon-document:before { content: "\e702"; }
.icon-document_fill:before { content: "\e703"; }
.icon-dynamic_fill:before { content: "\e704"; }
.icon-dynamic:before { content: "\e705"; }
.icon-editor:before { content: "\e706"; }
.icon-eit:before { content: "\e707"; }
.icon-emoji_fill:before { content: "\e708"; }
.icon-emoji:before { content: "\e709"; }
.icon-enter:before { content: "\e70a"; }
.icon-enterinto:before { content: "\e70b"; }
.icon-enterinto_fill:before { content: "\e70c"; }
.icon-feedback_fill:before { content: "\e70d"; }
.icon-feedback:before { content: "\e70e"; }
.icon-flag_fill:before { content: "\e70f"; }
.icon-flag:before { content: "\e710"; }
.icon-flashlight:before { content: "\e711"; }
.icon-flashlight_fill:before { content: "\e712"; }
.icon-flip:before { content: "\e713"; }
.icon-flip_fill:before { content: "\e714"; }
.icon-fullscreen:before { content: "\e715"; }
.icon-group:before { content: "\e716"; }
.icon-group_fill:before { content: "\e717"; }
.icon-headlines_fill:before { content: "\e718"; }
.icon-headlines:before { content: "\e719"; }
.icon-homepage_fill:before { content: "\e71a"; }
.icon-homepage:before { content: "\e71b"; }
.icon-integral_fill:before { content: "\e71c"; }
.icon-integral:before { content: "\e71d"; }
.icon-interactive_fill:before { content: "\e71e"; }
.icon-interactive:before { content: "\e71f"; }
.icon-keyboard:before { content: "\e720"; }
.icon-label:before { content: "\e721"; }
.icon-label_fill:before { content: "\e722"; }
.icon-like_fill:before { content: "\e723"; }
.icon-like:before { content: "\e724"; }
.icon-live_fill:before { content: "\e725"; }
.icon-live:before { content: "\e726"; }
.icon-lock_fill:before { content: "\e727"; }
.icon-lock:before { content: "\e728"; }
.icon-mail:before { content: "\e729"; }
.icon-mail_fill:before { content: "\e72a"; }
.icon-manage_fill:before { content: "\e72b"; }
.icon-manage:before { content: "\e72c"; }
.icon-message:before { content: "\e72d"; }
.icon-message_fill:before { content: "\e72e"; }
.icon-mine:before { content: "\e72f"; }
.icon-mine_fill:before { content: "\e730"; }
.icon-mobilephone_fill:before { content: "\e731"; }
.icon-mobilephone:before { content: "\e732"; }
.icon-more:before { content: "\e733"; }
.icon-narrow:before { content: "\e734"; }
.icon-offline_fill:before { content: "\e735"; }
.icon-offline:before { content: "\e736"; }
.icon-order_fill:before { content: "\e737"; }
.icon-order:before { content: "\e738"; }
.icon-other:before { content: "\e739"; }
.icon-people_fill:before { content: "\e73a"; }
.icon-people:before { content: "\e73b"; }
.icon-picture_fill:before { content: "\e73c"; }
.icon-picture:before { content: "\e73d"; }
.icon-play:before { content: "\e73e"; }
.icon-play_fill:before { content: "\e73f"; }
.icon-playon_fill:before { content: "\e740"; }
.icon-playon:before { content: "\e741"; }
.icon-praise_fill:before { content: "\e742"; }
.icon-praise:before { content: "\e743"; }
.icon-prompt_fill:before { content: "\e744"; }
.icon-prompt:before { content: "\e745"; }
.icon-qrcode_fill:before { content: "\e746"; }
.icon-qrcode:before { content: "\e747"; }
.icon-redpacket_fill:before { content: "\e748"; }
.icon-redpacket:before { content: "\e749"; }
.icon-refresh:before { content: "\e74a"; }
.icon-remind_fill:before { content: "\e74b"; }
.icon-remind:before { content: "\e74c"; }
.icon-return:before { content: "\e74d"; }
.icon-right:before { content: "\e74e"; }
.icon-scan:before { content: "\e74f"; }
.icon-select_fill:before { content: "\e750"; }
.icon-select:before { content: "\e751"; }
.icon-send:before { content: "\e752"; }
.icon-service_fill:before { content: "\e753"; }
.icon-service:before { content: "\e754"; }
.icon-setup_fill:before { content: "\e755"; }
.icon-setup:before { content: "\e756"; }
.icon-share_fill:before { content: "\e757"; }
.icon-share:before { content: "\e758"; }
.icon-shielding_fill:before { content: "\e759"; }
.icon-shielding:before { content: "\e75a"; }
.icon-smallscreen_fill:before { content: "\e75b"; }
.icon-smallscreen:before { content: "\e75c"; }
.icon-stealth_fill:before { content: "\e75d"; }
.icon-stealth:before { content: "\e75e"; }
.icon-success_fill:before { content: "\e75f"; }
.icon-success:before { content: "\e760"; }
.icon-suspend:before { content: "\e761"; }
.icon-switch:before { content: "\e762"; }
.icon-systemprompt_fill:before { content: "\e763"; }
.icon-systemprompt:before { content: "\e764"; }
.icon-tailor:before { content: "\e765"; }
.icon-task:before { content: "\e766"; }
.icon-task_fill:before { content: "\e767"; }
.icon-tasklist_fill:before { content: "\e768"; }
.icon-tasklist:before { content: "\e769"; }
.icon-text:before { content: "\e76a"; }
.icon-time_fill:before { content: "\e76b"; }
.icon-time:before { content: "\e76c"; }
.icon-translation_fill:before { content: "\e76d"; }
.icon-translation:before { content: "\e76e"; }
.icon-trash:before { content: "\e76f"; }
.icon-trash_fill:before { content: "\e770"; }
.icon-undo:before { content: "\e771"; }
.icon-unlock_fill:before { content: "\e772"; }
.icon-unlock:before { content: "\e773"; }
.icon-video:before { content: "\e774"; }
.icon-video_fill:before { content: "\e775"; }
.icon-warning_fill:before { content: "\e776"; }
.icon-warning:before { content: "\e777"; }
.icon-workbench_fill:before { content: "\e778"; }
.icon-workbench:before { content: "\e779"; }
.icon-search:before { content: "\e77a"; }
.icon-searchfill:before { content: "\e77b"; }
.icon-publishgoods_fill:before { content: "\e77c"; }
.icon-shop_fill:before { content: "\e77d"; }
.icon-transaction_fill:before { content: "\e77e"; }
.icon-packup:before { content: "\e77f"; }
.icon-unfold:before { content: "\e780"; }
.icon-financial_fill:before { content: "\e781"; }
.icon-marketing_fill:before { content: "\e782"; }
.icon-shake:before { content: "\e783"; }
.icon-decoration_fill:before { content: "\e784"; }
.icon-top:before { content: "\e611"; }
