<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <sectionGroup name="ConnectionGroup">
      <section name="SetInstance" type="PMBLL.Sections.ConnectionSection, PMBLL" />
    </sectionGroup>
    <sectionGroup name="MenuGroup">
      <section name="SetInstance" type="PMBLL.Sections.MenuSection, PMBLL"/>
    </sectionGroup>
  </configSections>

  
  <ConnectionGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.ConnectionD" />
  </ConnectionGroup>
  <MenuGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.MenuD" GetDataMenuMethod="GetDataMenu"/>
  </MenuGroup>
</configuration>