<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <sectionGroup name="ConnectionGroup">
      <section name="SetInstance" type="PMBLL.Sections.ConnectionSection, PMBLL" />
    </sectionGroup>
    <sectionGroup name="MenuGroup">
      <section name="SetInstance" type="PMBLL.Sections.MenuSection, PMBLL"/>
    </sectionGroup>
    <sectionGroup name="OwerGroup">
      <section name="SetInstance" type="PMBLL.Sections.OwerSection, PMBLL"/>
    </sectionGroup>
    <sectionGroup name="ServiceTeamGroup">
      <section name="SetInstance" type="PMBLL.Sections.ServiceTeamSection, PMBLL"/>
    </sectionGroup>
    <sectionGroup name="SuppliersGroup">
      <section name="SetInstance" type="PMBLL.Sections.SuppliersSection, PMBLL"/>
    </sectionGroup>
    <sectionGroup name="ProjectsGroup">
      <section name="SetInstance" type="PMBLL.Sections.ProjectsSection, PMBLL"/>
    </sectionGroup>
    <sectionGroup name="ContractGroup">
      <section name="SetInstance" type="PMBLL.Sections.ContractSection, PMBLL"/>
    </sectionGroup>
    <sectionGroup name="FinanceGroup">
      <section name="SetInstance" type="PMBLL.Sections.FinanceSection, PMBLL"/>
    </sectionGroup>
  </configSections>

  
  <ConnectionGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.ConnectionD" />
  </ConnectionGroup>
  <MenuGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.MenuD" GetDataMenuMethod="GetDataMenu"/>
  </MenuGroup>
  <OwerGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.OwerD" GetDataOwerMethod="GetDataOwer" GetPageDataMethod="GetPageData" IsExist_owernameMethod="IsExist_owername" GetDataByIDMethod="GetDataByID"/>
  </OwerGroup>
  <ServiceTeamGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.ServiceTeamD" GetDataServiceTeamMethod="GetDataServiceTeam" GetPageDataMethod="GetPageData" IsExist_serviceteamnameMethod="IsExist_serviceteamname" GetDataByIDMethod="GetDataByID"/>
  </ServiceTeamGroup>
  <SuppliersGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.SuppliersD" GetDataSuppliersMethod="GetDataSuppliers" GetPageDataMethod="GetPageData" IsExist_suppliersnameMethod="IsExist_suppliersname" GetDataByIDMethod="GetDataByID"/>
  </SuppliersGroup>
  <ProjectsGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.ProjectsD" GetDataProjectsMethod="GetDataProjects" GetPageDataMethod="GetPageData" IsExist_projectsnameMethod="IsExist_projectsname" GetDataByIDMethod="GetDataByID"/>
  </ProjectsGroup>
  <ContractGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.ContractD" GetDataContractMethod="GetDataContract" GetPageDataMethod="GetPageData" IsExist_contractnameMethod="IsExist_contractname" GetDataByIDMethod="GetDataByID"/>
  </ContractGroup>
  <FinanceGroup>
    <SetInstance strNameSpace="PMDAL" strInstance="PMDAL.Instance.FinanceD" GetDataFinanceMethod="GetDataFinance" GetPageDataMethod="GetPageData" IsExist_financenameMethod="IsExist_financename" GetDataByIDMethod="GetDataByID"/>
  </FinanceGroup>
</configuration>