<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DataBaseGroup">
      <section name="SetDataBase" type="PMDAL.Sections.DataBaseSection, PMDAL" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=(local);DataBase=PM;Uid=sa;Password=huading123;Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;user id=sa;packet size=1000" />
  </connectionStrings>

  <DataBaseGroup>
    <SetDataBase strType="SQL" strNameSpace="ConnectionAssist" strInstance="ConnectionAssist.Sql.SqlAssist" />
  </DataBaseGroup>
</configuration>