<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ConnectionGroup">
      <section name="SetInstance" type="PM.Sections.ConnectionSection, PM" />
    </sectionGroup>
    <sectionGroup name="MenuGroup">
      <section name="SetInstance" type="PM.Sections.MenuSection, PM" />
    </sectionGroup>
    <sectionGroup name="OwerGroup">
      <section name="SetInstance" type="PM.Sections.OwerSection, PM" />
    </sectionGroup>
    <sectionGroup name="ServiceTeamGroup">
      <section name="SetInstance" type="PM.Sections.ServiceTeamSection, PM" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <ConnectionGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.ConnectionB" />
  </ConnectionGroup>
  <MenuGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.MenuB" />
  </MenuGroup>
  <OwerGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.OwerB" />
  </OwerGroup>
  <ServiceTeamGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.ServiceTeamB" />
  </ServiceTeamGroup>
  <appSettings>
    <!-- basics config -->
    <add key="site" value="minanchuangxiang.cn" />
    <add key="version" value="2.0.1"/>
  </appSettings>

</configuration>
