<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ConnectionGroup">
      <section name="SetInstance" type="PM.Sections.ConnectionSection, PM" />
    </sectionGroup>
    <sectionGroup name="MenuGroup">
      <section name="SetInstance" type="PM.Sections.MenuSection, PM" />
    </sectionGroup>
    <sectionGroup name="OwerGroup">
      <section name="SetInstance" type="PM.Sections.OwerSection, PM" />
    </sectionGroup>
    <sectionGroup name="ServiceTeamGroup">
      <section name="SetInstance" type="PM.Sections.ServiceTeamSection, PM" />
    </sectionGroup>
    <sectionGroup name="SuppliersGroup">
      <section name="SetInstance" type="PM.Sections.SuppliersSection, PM" />
    </sectionGroup>
  <sectionGroup name="ProjectsGroup">
      <section name="SetInstance" type="PM.Sections.ProjectsSection, PM" />
    </sectionGroup>
    <sectionGroup name="ContractGroup">
      <section name="SetInstance" type="PM.Sections.ContractSection, PM" />
    </sectionGroup>
    <sectionGroup name="FinanceGroup">
      <section name="SetInstance" type="PM.Sections.FinanceSection, PM" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <ConnectionGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.ConnectionB" />
  </ConnectionGroup>
  <MenuGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.MenuB" />
  </MenuGroup>
  <OwerGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.OwerB" />
  </OwerGroup>
  <ServiceTeamGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.ServiceTeamB" />
  </ServiceTeamGroup>
  <SuppliersGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.SuppliersB" />
  </SuppliersGroup>
  <ProjectsGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.ProjectsB" />
  </ProjectsGroup>
  <ContractGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.ContractB" />
  </ContractGroup>
  <FinanceGroup>
    <SetInstance strNameSpace="PMBLL" strInstance="PMBLL.Instance.FinanceB" />
  </FinanceGroup>
  <appSettings>
    <!-- basics config -->
    <add key="site" value="minanchuangxiang.cn" />
    <add key="version" value="2.0.1"/>
  </appSettings>

</configuration>
