<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  
  <appSettings>
    <!-- basics config -->
    <add key="site" value="minanchuangxiang.cn" />
    <add key="version" value="2.0.1"/>
  </appSettings>

</configuration>
